.donate {
    background: url(../../assets/donate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

@media (max-device-width: 992px) {
    .donate {
        background-size: cover;
        height: 50vh;
    }
}

.donate-box {
    width: 40vw;
    height: 60vh;
    position: relative;
    top: 12vh;
    left: 5vw;
}


.DON-BTN {
    position: absolute;
        top: 51vh;
        left: 43vw;
        height: 10vh;
        font-weight: 600;
        border: 4px solid WHITE;
        border-radius: 10px;
        color: white;
}
@media (max-device-width: 992px) {
    .DON-BTN {
        top: 40vh;
        height: 5vh;
        left: 41vh vh;
        font-size: x-large;
        height: 9vh;
    }
}
@media (max-device-width: 425px) {
    .DON-BTN {
        height: 7vh;
    }
}

.donate-banner {
    position: absolute;
    bottom: 59vh;
    top: 74vh;
    left: 25vw;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    font-family: Dancing Script, cursive;
}

@media (max-device-width: 992px) {
    .donate-banner {
        top: 50vh;
        font-size: 3.4vw;
    }
}

.DON-BTN:hover {
    background-color: grey;
    color: white;
    font-weight: 700;
    border-color: grey;
}

.qrholder {
    height: 40vh;
    width: 100%;
    background: url(../../assets/QR.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.upiid {
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
    padding-top: 5vh;
    height: 20vh;
    width: 100%;
    color: black;
    font-weight: 700;
}