.contact-page{
    background-color: #efeff5;
}
.contact-head {
    text-align: center;
    padding-top: 40px;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}

.contact-box {
    text-align: center;
    padding: 5%;
}

.contact-box h3 {
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
    text-decoration: none;
    color: #212529;
}
.contact-box a .contact-icon:hover {
    color: #ffdd12;
}

.contact-box p {
    font-size: 19.2px;
    color: grey;
    text-decoration: none;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

.contact-box a {
    text-decoration: none;
}
.contact-box a h3:hover{
    color: #ffdd12;
}

.contact-box a .contact-icon {
    color: #212529;
    margin-bottom: 1rem;
}

/* .contact-box a .contact-icon:hover {
    color: #ffdd12;
} */

.fa-customise {
    font-size: 10vh;
}

@media (max-device-width:992px) {
    .fa-customise {
        font-size: 15vh;
    }
}

@media (max-device-width:768px) {
    .fa-customise {
        font-size: 10vh;
    }
}

@media (max-device-width:992px) {
    .contact-box h3 {
        font-size: 7vw;
    }

    .contact-box p {
        font-size: 5vw;
    }

    .contact-head {
        font-size: 10vw;
    }
}

@media (max-device-width:768px) {
    .contact-box h3 {
        font-size: 5vw;
    }

    .contact-box p {
        font-size: 4vw;
    }

    .contact-head {
        font-size: 10vw;
    }
}

@media (max-device-width:768px) {
    .contact-head {
        width: 67vw;
    }
}