.main-aboutus{
    padding: 5vw;
    background: #f8f9fa
}
@media(max-device-width: 425px) {
    .main-aboutus {
            padding: 7vw;
        }
}
.main-aboutus h1{
    font-size: 4vw;
    text-align: center;
    padding-bottom: 10vh;
    font-family: 'montserrat', sans-serif;
}
@media(max-device-width: 425px) {
    .main-aboutus h1{
        padding-bottom: 5vh;
    }
}
.main-aboutus p{
    font-size: 1.3rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
@media(max-device-width: 425px)
{
    .main-aboutus h1 {
            font-size: 7vw;
        }
    
        .main-aboutus p {
            font-size: 4vw;
        }
}

.aboutus{
    height: fit-content;
}

.about-vision{
    height: fit-content;
}

.about-mission{
    height: fit-content;
}

