.galery{
    /* background: red; */
    padding: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        justify-content: space-between;
}

.galery-card{

        height: 30vh;
        width: 20vw;
        border: 1px solid grey;
        border-radius: 10px;
        margin-bottom: 4vh;
}
.g-c-t{
    background: url(./1.jpg);
        border-radius: 10px;
        background-size: cover;
        height: 88%;
        cursor: pointer;
}
.g-c-b{
    text-align: center;
}
#gal-modal .modal-dialog {
    max-width: 95vw;
}

#gal-modal .modal-content{
    height: 90vh;
    width: 95vw;
    background: red;
}

#galCrousel .carousel-item{
    height: 84vh;
}

.control-panel{
   height: 100%;
    color: white;
    font-size: 8vw;
    /* background: red; */
    display: flex;
    align-items: center;
        justify-content: space-between;
}

.sliderimg {
    width: 100%;
    height: 200px;
    object-fit: cover
}
