.galery{
    /* background: red; */
    padding: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        justify-content: space-between;
}

.gal-con{
    width: 30%;
    margin-bottom: 5vh;
}

.gal-title{
    text-align: center;
    font-size: 2vw;
}

.image-gallery {
    height: auto;
    margin: 0;
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}
/* .fullscreen .image-gallery-slide img {
    max-height: 100vh;
} */


.image-gallery-right-nav{
    display: none;
}
.fullscreen .image-gallery-slide-wrapper .image-gallery-right-nav{
    display: block;
}
.image-gallery-left-nav{
    display: none;
}
.fullscreen .image-gallery-slide-wrapper .image-gallery-left-nav{
    display: block;
}