/* footer */
footer {
    height: 100vh;
}

@media (max-device-width: 992px) {
    footer {
        height: 100vh;
    }
}

.first {
    display: flex;
    /* background-color: rgb(33, 33, 189); */
    background-color: #ffdd12;
    justify-content: space-around;
    height: 20%;
    padding: 2vw;
    align-items: center;
}

@media (max-device-width: 426px) {
    .first {
        height: 20%;
    }
}

.first-item {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.f-i-n {
    font-size: 2.5vw;

}

@media (max-device-width: 992px) {
    .first-item {
        font-size: 1.5vw;
    }

    .f-i-n {
        font-size: 2.5vw;
    }
}

@media (max-device-width: 425px) {
    .f-i-n {
        font-size: 8vw;
    }

    .first-item {
        font-size: 3vw;
    }
}

.second {
    height: 80%;
    display: flex;
    background-color: #333333;
}

@media (max-device-width: 992px) {
    .second {
        font-size: calc(1vw+1rem);
    }
}

@media (max-device-width: 425px) {
    .second {
        flex-direction: column;
    }
}

.second-item .fa-customise {
    font-size: 2.5vh;
    color: #ffdd12;
}

.second-item {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    color: white;
}

@media (max-device-width: 992px) {
    .second-item {
        align-items: center;
        font-size: 1.7vw;
    }
}

@media (max-device-width: 425px) {
    .second-item {
        font-size: 4vw;
    }
}


.second-item h1 {
    margin-bottom: 20px;
    font-size: 4vw;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

@media (max-device-width: 768px) {
    .second-item h1 {
        font-size: 5vw;
        font-weight: 700;
    }
}

@media (max-device-width: 425px) {
    .second-item h1 {
        font-size: 10vw;
    }
}

.second-item ul {
    padding-left: 0;
}

.second-item ul li {
    list-style: none;
    font-family: 'roboto', sans-serif;
}

.second-item a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(175, 175, 175);
}

.second-item p {
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
}

@media (max-device-width: 768px) {
    .second-item a {
        font-size: 1.3rem;
    }

    .second-item p {
        font-size: 1.3rem;
    }
}

@media (max-device-width: 425px) {
    .second-item a {
        font-size: 2.7rem;
    }

    .second-item p {
        font-size: 2.7rem;
    }
}

.second-item a:hover {
    color: red;
    font-weight: 600;
}

.fa-2x {
    margin: 5px;
}
.fa-brands{
    color: #ffdd12;;
}
.fa-brands:hover{
    color: red;;
}

.copyright {
    margin-top: 25px;
    color: rgb(175, 175, 175);;
}



/* social-msg */
.social-msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10vw;
}

.social-msg h1 {
    font-size: 5vw;
    padding-bottom: 5vh;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

.social-msg p {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

@media (max-device-width: 768px) {
    .social-msg p {
        font-size: 1.2rem;
    }
}

@media (max-device-width: 425px) {
    .social-msg h1 {
        font-size: 8vw;
    }

    .social-msg p {
        font-size: 2.2rem;
    }
}