/* top carousel */
.carousel-inner {
    height: 100vh;
}

@font-face {
    font-family: 'Samarpan';
    src: local('samarpan'), url(./../../assets/fonts/samarpan.ttf) format('truetype');
}

@font-face {
    font-family: 'eksochekviswas';
    src: local('eksochekviswas'), url(./../../assets/fonts/eksochekviswas.ttf) format('truetype');
}

@media (max-device-width: 992px) {
    .carousel-inner {
        height: 100vh;
    }
}

@media (max-device-width: 425px) {
    .carousel-inner {
        height: 50vh;
    }
}

.carousel-item,
.car-img {
    height: 100%;
    width: 100%;

}

.carousel-item {
    background-size: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}

.banner_top {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 55vh;
    margin-left: 12vw;
    font-family: Samarpan;
}

@media (max-device-width: 425px) {
    .banner_top {
        top: 31vh;
    }
}


.banner_top .b-t-h {
    font-size: 8vw;
    font-family: Samarpan;
    color: #ffdd12;
}

.banner_top .b-t-c {
    font-size: 1.2rem;
    font-family: eksochekviswas;
    color: white;
}

@media (max-device-width: 768px) {
    .banner_top .b-t-h {
        font-size: 10vw;
    }

    .banner_top .b-t-c {
        font-size: 2rem;
    }
}

@media (max-device-width: 425px) {
    .banner_top .b-t-h {
        font-size: 8vw;
    }

    .banner_top .b-t-c {
        font-size: 2.5rem;
    }
}

.vision_btn_banner {
  transition-duration: 0.7s;
    text-align: center;
    border: 1px solid white;
    background: rgb(0, 0, 0, 0.1);
    color: #ffdd12;

    border-radius: 10px;
    font-size: 2rem;
    width: 24vw;
    margin-top: 2vw;
    font-family: 'Bree Serif', serif;
}

@media (max-device-width: 992px) {
    .vision_btn_banner {
        padding: 10px;
    }
}

.vision_btn_banner:hover {
    color: black;
    border: 1px solid #e52321;
    background: #ffdd12;


}

@media (max-device-width: 992px) {
    .vision_btn_banner:active {
        transform: scaleX(1.09);
    }
}







/* mission */
.mission-carousel {
    height: 80vh;
}

@media (max-device-width: 425px) {
    .mission-carousel {
        display: none;
        padding: 10px;
    }
}

.carousel-inner-mission {
    height: 80vh;
}

.mission-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    color: #ffdd12;
    font-size: 1.5rem;
    background-color: #262626;
}

@media (max-device-width: 992px) {
    .mission-text {
        font-size: 2rem;
        height: 100vh;
    }
}

@media (max-device-width: 768px) {
    .mission-text {
        font-size: 1.5rem;
    height: 40vh;
    }
}

@media (max-device-width: 425px) {
    .mission-text {
        /* display: none; */
        font-size: 2.5rem;
        justify-content: space-evenly;
    }
}

.mission-text h1 {
    font-size: 5vw;
    margin-bottom: 25px;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

@media (max-device-width: 768px) {
    .mission-text h1 {
        font-size: 9vw;
    }
}

@media (max-device-width: 425px) {
    .mission-text h1 {
        font-size: 13vw;
    }
}

.mission-text p {
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    text-align: justify;

}

@media(max-device-width:425px) {
    .mission-text p {
        font-size: 2rem;
    }
}


.mission-button {
  transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 20vw;
    margin-top: 25px;
    border: 2px solid white;
    border-radius: 10px;
    color: #ffdd12;
    box-shadow: 1px 5px 10px black;
    font-family: 'Bree Serif', serif;
}

@media (max-device-width: 768px) {
    .mission-button {
        width: 30vw;
    }
}

@media (max-device-width: 425px) {
    .mission-button {
        width: 60vw;
    }
}

.mission-button:hover {
    box-shadow: 0px 0px;
    transform: translateY(2px);
    color: black;
    background-color: #ffdd12;
    border: 1px solid black;
}


/* vision */
.vision-carousel {
    height: 80vh;
}

@media (max-device-width: 425px) {
    .vision-carousel {
        display: none;
        padding: 10px;
    }
}

.carousel-inner-vision {
    height: 80vh;
}

.vision-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

@media (max-device-width: 992px) {
    .vision-text {
        font-size: 2rem;
        height: 100vh;
    }
}

@media (max-device-width: 768px) {
    .vision-text {
        font-size: 1.5rem;
    }
}

@media (max-device-width: 425px) {
    .vision-text {
        /* display: none; */
        font-size: 2.5rem;
        justify-content: space-evenly;
        padding: 0 10vw;
        height: fit-content;
    }
}

.vision-text h1 {
    font-size: 5vw;
    margin-bottom: 25px;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

@media (max-device-width: 768px) {
    .vision-text h1 {
        font-size: 9vw;
    }
}

@media (max-device-width: 425px) {
    .vision-text h1 {
        font-size: 13vw;
    }
}

.vision-text p {
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    text-align: justify;

}

@media(max-device-width:425px) {
    .vision-text p {
        font-size: 2rem;
    }
}


.vision-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 20vw;
    margin-top: 25px;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 5px 10px black;
    font-family: 'Bree Serif', serif;
}

@media (max-device-width: 768px) {
    .vision-button {
        width: 30vw;
    }
}

@media (max-device-width: 425px) {
    .vision-button {

        height: 5vh;
        width: 30vw;
        border: 2px solid blue;
        box-shadow: 0px 0px 0px black;
    }
}

.vision-button:hover {
    box-shadow: 0px 0px;
    transform: translateY(5px);
    color: white;
}



/* our events */
.ourevents {
    text-align: center;
}

.ourevents h1 {
    margin: 30px 0 30px 0;
    font-size: 5vw;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

@media (max-device-width: 425px) {
    .ourevents h1 {
        font-size: 13vw;
    }
}

.event-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1vw;
}

@media (max-device-width: 425px) {
    .event-content {
        padding: 0 10vw;
    }
}

.event-card {
    border-radius: 10px;
    /* height: 65vh; */
    min-height: fit-content;
    max-height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 10px black;
    margin-bottom: 5vh;
}

.event-card:last-child {
    margin-right: 0px;
}

@media (max-device-width: 425px) {
    .event-card {
        width: 59vh;
    }
}

.upper {
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}

.upper img{
    /* height: 150px; */
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

@media(max-device-width: 768px) {
    .upper {
        height: 47%;
    }
}

@media (max-device-width:425px) {
    .upper {
        height: 75%;
    }
}

.lower {
    padding: 10px;
}

.lower h3 {
    margin-top: 3vh;
    font-size: 2.5vw;
    font-family: 'Josefin Sans', sans-serif;
}

 .read-more-btn {
    width: 8vw;
    height: 5vh;
    float: left;
    border-radius: 8px;
    background: blue;
    color: white;
    font-weight: 300;
    border: none;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: 1.1vw;
    font-family: 'Bree Serif', serif;
}
.read-more-btn:hover{
    background: rgb(0, 0, 79);
}

@media (max-device-width: 768px) {
    .read-more-btn {
        margin-top: 1vh;

    }
}

@media (max-device-width: 425px) {
    .read-more-btn {
        padding: 1vh;
        width: 20vw;
        font-size: 3vw;
        margin-left: 1vh;
    }
}

.event-date {
    font-size: 1vw;
    color: rgb(83, 83, 83);
    font-weight: bold;
}

.event-content a{
    width: fit-content;
}

.event-button {
    margin: 50px;
    width: 9vw;
    height: 6vh;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 5px 10px black;
    font-family: 'Bree Serif', serif;
}

.event-button:hover {
    font-weight: bold;
    box-shadow: 0px 0px;
    transform: translateY(2px);
    color: black;
    background-color: #ffdd12;
    border: 1px solid black;
}

.event-discrpt {
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
}

@media (max-device-width:768px) {
    .lower h3 {
        font-size: 3vw;
        margin-top: 1vh;
    }

    .event-date {
        font-size: 2.2vw;
    }

    .event-discrpt {
        font-size: 1.5vw;
    }

    .event-button {
        width: 16vw;
        height: 8vh;
        font-size: 2vw;
    }
}

@media (max-device-width:425px) {
    .lower h3 {
        font-size: 6vw;
    }

    .event-date {
        font-size: 3.5vw;
    }

    .event-discrpt {
        font-size: 2.2rem;
    }

    .event-button {
        width: 21vw;
        height: 6vh;
        font-size: 3vw;
    }

}
