.carousel-inner {
    height: 100vh;
}

@media (max-device-width: 992px) {
    .carousel-inner {
        height: 100vh;
    }
}

@media (max-device-width: 425px) {
    .carousel-inner {
        height: 50vh;
    }
}

.carousel-item,
.car-img {
    height: 100%;
    width: 100%;

}

.carousel-item {
    background-size: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}

.banner_top {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    top: -65vh;
    margin-left: 12vw;
}

@media (max-device-width: 992px) {
    .banner_top {
        font-size: 7vw;
        top: -65vh;
        margin-left: 15vw;
    }
}

@media (max-device-width: 425px) {
    .banner_top {
        top: -31vh;
    }
}

.vision_btn_banner {
    border: 1px solid white;
    background: rgb(0, 0, 0, 0.1);
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 24vw;
    margin-top: 2vw;
}

@media (max-device-width: 992px) {
    .vision_btn_banner {
        padding: 10px;
    }
}

.vision_btn_banner:hover {
    border: 1px solid grey;
    background: grey;
    transform: scaleX(1.09);
}

@media (max-device-width: 992px) {
    .vision_btn_banner:active {
        transform: scaleX(1.09);
    }
}

/* footer */
footer {
    height: 100vh;
}

@media (max-device-width: 992px) {
    footer {
        height: 100vh;
    }
}

.first {
    display: flex;
    background-color: rgb(33, 33, 189);
    justify-content: space-around;
    height: 20%;
    padding: 2vw;
    margin-top: 30px;
    align-items: center;
}

@media (max-device-width: 426px) {
    .first {
        height: 20%;
    }
}


.first-item {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    font-weight: 600;
}

.f-i-n {
    font-size: 2.5vw;
}

@media (max-device-width: 992px) {
    .first-item {
        font-size: 1.5vw;
    }

    .f-i-n {
        font-size: 2.5vw;
    }
}

@media (max-device-width: 426px) {
    .f-i-n {
        font-size: 8vw;
    }

    .first-item {
        font-size: 3vw;
    }
}


.second {
    height: 80%;
    display: flex;
}

@media (max-device-width: 992px) {
    .second {
        font-size: calc(1vw+1rem);
    }
}

@media (max-device-width: 425px) {
    .second {
        flex-direction: column;
    }
}



.second-item {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

@media (max-device-width: 992px) {
    .second-item {
        align-items: center;
        font-size: 1.7vw;
    }
}

@media (max-device-width: 425px) {
    .second-item {
        /* display: none; */
        font-size: 4vw;
    }
}


.second-item h1 {
    margin-bottom: 20px;
}

@media (max-device-width: 992px) {
    .second-item h1 {
        font-size: 4vw;
        font-weight: 700;
    }
}

@media (max-device-width: 426px) {
    .second-item h1 {
        font-size: 9vw;
    }
}

.second-item ul {
    padding-left: 0;
}

.second-item ul li {
    list-style: none;

}

.second-item a:hover {
    color: red;
    font-weight: 600;
}

.second-item a {
    text-decoration: none;
    color: black;
}

.fa-2x {
    margin: 5px;
}


.copyright {
    margin-top: 25px;
}

/* mission */

.mission-slide{
    height: 505px;
    padding: 0%;
}
.mission{
    height: 505px;
    background-color: #2121bd;
    text-align: center;
    padding-top: 170px;
    color: white;
    
}
.mission h1{
    font-size: 7vh;
    margin-bottom: 25px;
}
.mission button{
    height: 50px;
    width: 160px;
    margin-top: 25px;
    background-color: #2121bd;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 5px 10px black;
}

.mission button:hover{
    box-shadow: 0px 0px;
    transform: translateY(5px);
}

