/* top carousel */
.carousel-inner {
    height: 100vh;
}

@media (max-device-width: 992px) {
    .carousel-inner {
        height: 100vh;
    }
}

@media (max-device-width: 425px) {
    .carousel-inner {
        height: 50vh;
    }
}

.carousel-item,
.car-img {
    height: 100%;
    width: 100%;

}

.carousel-item {
    background-size: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}

.banner_top {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 55vh;
    margin-left: 12vw;
}

@media (max-device-width: 992px) {
    .banner_top {
        font-size: 7vw;
        top: 65vh;
        margin-left: 15vw;
    }
}

@media (max-device-width: 425px) {
    .banner_top {
        top: 31vh;
    }
}

.vision_btn_banner {
    border: 1px solid white;
    background: rgb(0, 0, 0, 0.1);
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 24vw;
    margin-top: 2vw;
}

@media (max-device-width: 992px) {
    .vision_btn_banner {
        padding: 10px;
    }
}

.vision_btn_banner:hover {
    border: 1px solid grey;
    background: grey;
    transform: scaleX(1.09);
}

@media (max-device-width: 992px) {
    .vision_btn_banner:active {
        transform: scaleX(1.09);
    }
}




/* footer */
footer {
    height: 100vh;
}

@media (max-device-width: 992px) {
    footer {
        height: 100vh;
    }
}

.first {
    display: flex;
    background-color: rgb(33, 33, 189);
    justify-content: space-around;
    height: 20%;
    padding: 2vw;
    margin-top: 30px;
    align-items: center;
}

@media (max-device-width: 426px) {
    .first {
        height: 20%;
    }
}

.first-item {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    font-weight: 600;
}

.f-i-n {
    font-size: 2.5vw;
}

@media (max-device-width: 992px) {
    .first-item {
        font-size: 1.5vw;
    }

    .f-i-n {
        font-size: 2.5vw;
    }
}

@media (max-device-width: 425px) {
    .f-i-n {
        font-size: 8vw;
    }

    .first-item {
        font-size: 3vw;
    }
}

.second {
    height: 80%;
    display: flex;
}

@media (max-device-width: 992px) {
    .second {
        font-size: calc(1vw+1rem);
    }
}

@media (max-device-width: 425px) {
    .second {
        flex-direction: column;
    }
}

.second-item {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

@media (max-device-width: 992px) {
    .second-item {
        align-items: center;
        font-size: 1.7vw;
    }
}

@media (max-device-width: 425px) {
    .second-item {
        font-size: 4vw;
    }
}


.second-item h1 {
    margin-bottom: 20px;
}

@media (max-device-width: 992px) {
    .second-item h1 {
        font-size: 4vw;
        font-weight: 700;
    }
}

@media (max-device-width: 425px) {
    .second-item h1 {
        font-size: 9vw;
    }
}

.second-item ul {
    padding-left: 0;
}

.second-item ul li {
    list-style: none;

}

.second-item a {
    text-decoration: none;
    color: black;
}

.second-item a:hover {
    color: red;
    font-weight: 600;
}

.fa-2x {
    margin: 5px;
}

.copyright {
    margin-top: 25px;
}



/* social-msg */
.social-msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10vw;
}

.social-msg h1 {
    font-size: 5vw;
    padding-bottom: 5vh;
}

.social-msg p {
    font-size: 1.5rem;
}

@media (max-device-width: 425px) {
    .social-msg h1 {
        font-size: 8vw;
    }

    .social-msg p {
        font-size: 2rem;
    }
}


/* mission / vision */
.mission-carousel {
    height: 80vh;
}

@media (max-device-width: 992px) {
    .mission-carousel {
        display: none;
    }
}

.carousel-inner-mission {
    height: 80vh;
}

.mission-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    color: white;
    font-size: 1rem;
}

@media (max-device-width: 992px) {
    .mission-text {
        font-size: 2rem;
        height: 100vh;
    }
}

@media (max-device-width: 425px) {
    .mission-text {
        justify-content: space-evenly;
    }
}

.mission-text h1 {
    font-size: 5vw;
    margin-bottom: 25px;
}

@media (max-device-width: 425px) {
    .mission-text h1 {
        font-size: 13vw;
    }
}

.mission-button {
    height: 12vh;
    width: 20vw;
    margin-top: 25px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 5px 10px black;
}

@media (max-device-width: 768px) {
    .mission-button {
        width: 30vw;
    }
}

@media (max-device-width: 425px) {
    .mission-button {
        width: 60vw;
    }
}

.mission-button:hover {
    box-shadow: 0px 0px;
    transform: translateY(5px);
}




/* our events */
.ourevents {
    text-align: center;
}

.ourevents h1 {
    margin: 30px 0 30px 0;
    font-size: 5vw;
    font-weight: bold;
}

@media (max-device-width: 425px) {
    .ourevents h1 {
        font-size: 13vw;
    }
}

.event-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1vw;
}

.event-card {
    border-radius: 10px;
    height: 85vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 10px black;
    margin-bottom: 5vh;
    margin-right: 11px;
}

.event-card:last-child {
    margin-right: 0px;
}

@media (max-device-width: 425px) {
    .event-card {
            height: 59vh;
                width: 59vh;
    }
}

.upper {
    height: 300px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
@media(max-device-width: 768px) {
    .upper {
        height: 47%;
    }
}
@media (max-device-width:425px) {
    .upper {
        height: 45%;
    }
}

.lower {
    height: 300px;
    padding: 10px;
}

.lower h3 {
    margin-top: 3vh;
    font-size: 3vw;
}

.read-more-btn {
    min-width: 8vw;
    min-height: 2vh;
    float: left;
    margin-top: 3vh;
    border-radius: 8px;
    background: blue;
    color: white;
    font-weight: 600;
    border: none;
}
@media (max-device-width: 425px) {
    .read-more-btn {
    margin-top: 4vh;
        padding: 1vh;
        width: 18vw vw;
        font-size: 3vw;
        margin-left: 1vh;
    }
}

.event-date {
    font-size: 20px;
    color: rgb(83, 83, 83);
}

.event-button {
    margin: 50px;
    width: 150px;
    height: 60px;
    background-color: red;
    color: white;
    font-size: 20px;
    box-shadow: 1px 5px 10px black;
    border: 2px solid red;
    border-radius: 10px;
}

.event-button:hover {
    font-weight: bold;
    box-shadow: 0 0;
    transform: translateY(5px);
    background-color: rgb(147, 3, 3);
}

@media (max-device-width:768px) {
    .lower h3 {
        font-size: 3rem;
    }

    .event-date {
        font-size: 30px;
    }

    .event-discrpt {
        font-size: 2rem;
    }

    .event-button {
        width: 200px;
        height: 80px;
        font-size: 25px;
    }
}