

#title{
  margin: 3% 7%;
}
.navbar-brand{
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
}

.logo{
  width: 70%;
  border-radius: 100%;
}